*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body
{
    font-family: 'Times New Roman', Times, serif;
    background: #ffe6e6;
    width: 100%;
    height: 150%;

}

nav{
    background: #a685e2;
    height: 100px;
    width: 100%;
}

label.logo
{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding: 0 70px;
    font-weight: bold;

}

nav ul{
    float:right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 15px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #6155a6;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: rgb(0, 0, 0);
    float:right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
display: none;
}

@media (max-width: 952px){
label.logo{
    font-size: 30px;
    padding-left: 50px;
}
nav ul li a{
    font-size: 16px;
}
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height:100vh;
        background: #6155a6;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px;
        line-height: 30px;

    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: rgb(255, 255, 255);
    }
    #check:checked ~ ul{
        left: 0;
    }
}

.color {
    background-color: #a685e2;
    background: #a685e2;
    color: #fff;
}

.head{
    color: #6155a6;
    font-size: 50px;
    padding: 15px 30px;
}

.line{
    font-size: 30px;
    padding: 0 30px;
}

.para{
    font-size: 20px;
    padding: 0 30px;
}

.box-shadow{
    box-shadow: 0px 2px 10px rgb(97, 85, 166,0.4);
}

.card-body{
    background-color:#a685e2;
}

.container {
    position:relative;
    top: 500px;
    padding-left: 120px;
    padding-bottom: 120px;
      
}

.btn-primary
{
    background-color: #6155a6;
}
